[submodule "todolist-proj"]
	path = todolist-proj
	url = https://github.com/uetiari/todolist-proj.git
[submodule "web-responsivo"]
	path = web-responsivo
	url = https://github.com/uetiari/web-responsivo.git
[submodule "primeiro-repositorio"]
	path = primeiro-repositorio
	url = https://github.com/uetiari/primeiro-repositorio.git
[submodule "formulario"]
	path = formulario
	url = https://github.com/uetiari/formulario.git
[submodule "exerciciotabela"]
	path = exerciciotabela
	url = https://github.com/uetiari/exerciciotabela.git
[submodule "website-semantico"]
	path = website-semantico
	url = https://github.com/uetiari/website-semantico.git
[submodule "website_design_thinking"]
	path = website_design_thinking
	url = https://github.com/uetiari/website_design_thinking.git
[submodule "profile-sample"]
	path = profile-sample
	url = https://github.com/uetiari/profile-sample.git
[submodule "projeto-1_m-de-maravilhosa"]
	path = projeto-1_m-de-maravilhosa
	url = https://github.com/uetiari/projeto-1_m-de-maravilhosa.git
